/* Basic reset styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header styling */
header {
  background-color: #2196f3; /* Light blue */
  padding: 20px 0;
  display: flex; /* Added flexbox for layout */
  justify-content: space-between; /* Distribute items horizontally */
  align-items: center; /* Vertically align header elements */
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex; /* Center logo and navigation */
  justify-content: space-between; /* Distribute logo and navigation */
}

.logo {
  width: 150px; /* Adjust width as needed */
  color: #fff; /* White text color */
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #0069d9; /* Darker blue for hover */
}

/* Main section styling */
main {
  padding: 0; /* Remove padding for no extra space */
}

#signup {
  background-color: #e0e0e0; /* Light gray background */
  padding: 40px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #2196f3
